{% extends 'layout/basic.html' %}
{% load static %}

{% block title %}Восстановление пароля {% endblock %}
{% block content %}
    {% block breadcrumbs %}
        <nav><a href="{% url 'main:index' %}">Главная</a> <span>>></span> Напоминание пароля</nav>
    {% endblock %}
    <h1>Напоминание пароля</h1>
    {% if validlink %}
    <br /><br /><br />
                    <form method="post">
                         {% csrf_token %}
                         {{ form.as_div }}
                         <br />
                         <ul class="but">
                             <li style="border:0;"></li>
                             <li><button type="submit" class="pur">Сохранить</button></li>
                         </ul><br /><br />
                    </form>

  {% else %}
      <h2>Вероятно ссылка неверна или уже была использована</h2>
  {% endif %}
{% endblock %}