{% extends 'layout/basic.html' %}
{% load static %}

{% block title %}Восстановление пароля {% endblock %}

{% block content %}
    {% block breadcrumbs %}
        <nav><a href="{% url 'main:index' %}">Главная</a> <span>>></span> <span>>></span> Напоминание пароля</nav>
    {% endblock %}
    <h1>Напоминание пароля</h1>
    <br /><br /><br /><br /><br />
                    <form method="post">
                         {% csrf_token %}
                         {{ form.as_div }}
                         <br />
                         <ul class="but">
                             <li style="border:0;"></li>
                             <li><button type="submit" class="pur">Восстановить</button></li>
                         </ul><br /><br />
                    </form>

{% endblock %}